root = true

[*]
charset = utf-8
max_line_length = 110
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,h,sh}]
indent_style = tab
tab_width = 8

[{Makefile.am,configure.ac}]
indent_style = tab
tab_width = 8

[*.{yml,yaml}]
indent_style = space
indent_size = 2
