Makefile
Makefile.in
core
archive
acinclude.m4
aclocal.m4
autom4te.cache
compile
confdefs.h
config.*
configure
conftest
conftest.c
depcomp
install-sh
libtool
libtool.m4
lt*.m4
ltmain.sh
missing
mkinstalldirs
so_locations
stamp-h*
.deps
.libs
.#*#
.*.bak
.*.orig
.*.rej
.*~
#*#
*.bak
*.d
*.def
*.dll
*.exe
*.la
*.lib
*.lo
*.orig
*.pdb
*.rej
*.u
*.rc
*.pc
*~
*.gz
*.bz2
*.[0-9]
*.html
*.gif
*.css
*.out
*.tmp
ChangeLog
opensc.conf
xsl-stylesheets
opensc-config
test-conf
pkcs15-tool
pkcs15-crypt
pkcs15-init
piv-tool
eidenv
opensc-explorer
opensc-tool
rutoken-tool
cardos-info
cryptoflex-tool
netkey-tool
pkcs11-tool
pintest
p15dump
prngtest
base64
lottery
