Makefile
Makefile.in
core
archive
acinclude.m4
aclocal.m4
autom4te.cache
compile
confdefs.h
config.*
configure
conftest
conftest.c
depcomp
install-sh
libtool
libtool.m4
lt*.m4
ltmain.sh
missing
mkinstalldirs
so_locations
stamp-h*
tags
.deps
.libs
.#*#
.*.bak
.*.orig
.*.rej
.*~
#*#
*.bak
*.d
*.def
*.dll
*.exe
*.la
*.lib
*.lo
*.orig
*.pdb
*.rej
*.u
*.rc
*.pc
*~
*.o
*.gz
*.bz2
*.[0-9]
*.html
*.gif
*.css
*.out
*.tmp
*.obj
*.exp
*.res
ChangeLog

doc/tools/cardos-tool
doc/tools/cryptoflex-tool
doc/tools/eidenv
doc/tools/iasecc-tool
doc/tools/netkey-tool
doc/tools/openpgp-tool
doc/tools/opensc-explorer
doc/tools/opensc-tool
src/tools/gids-tool
doc/tools/piv-tool
doc/tools/pkcs11-tool
doc/tools/pkcs15-crypt
doc/tools/pkcs15-init
doc/tools/pkcs15-tool
doc/tools/sc-hsm-tool
doc/tools/westcos-tool
doc/tools/dnie-tool
doc/tools/gids-tool

etc/opensc.conf.win
etc/opensc.conf
src/common/compat_getopt_main
src/minidriver/opensc-minidriver.inf
src/tools/cardos-tool
src/tools/iasecc-tool
src/tools/openpgp-tool
src/tools/sc-hsm-tool
src/tools/westcos-tool
src/tools/pkcs15-tool
src/tools/pkcs15-crypt
src/tools/pkcs15-init
src/tools/piv-tool
src/tools/eidenv
src/tools/opensc-explorer
src/tools/opensc-tool
src/tools/gids-tool
src/tools/rutoken-tool
src/tools/cardos-info
src/tools/cryptoflex-tool
src/tools/netkey-tool
src/tools/pkcs11-tool
src/tools/dnie-tool
src/tools/gids-tool

win32/OpenSC.iss
win32/OpenSC.wxs
win32/winconfig.h
win32/OpenSC.msi
win32/OpenSC.wixobj
win32/OpenSC.wixpdb

MacOSX/build-package
MacOSX/Distribution.xml

*.dmg
*.pkg
OpenSC.tokend/
build/
engine_pkcs11/
libp11/
target/

src/scconf/test-conf

src/tests/base64
src/tests/lottery
src/tests/p15dump
src/tests/pintest
src/tests/prngtest

version.m4.ci
