Makefile
Makefile.in
core
archive
acinclude.m4
aclocal.m4
autom4te.cache
compile
confdefs.h
config.*
configure
conftest
conftest.c
depcomp
install-sh
libtool
libtool.m4
lt*.m4
ltmain.sh
missing
mkinstalldirs
so_locations
stamp-h*
tags
.deps
.libs
.#*#
.*.bak
.*.orig
.*.rej
.*~
#*#
*.bak
*.d
*.def
*.dll
*.exe
*.la
*.lib
*.lo
*.orig
*.pdb
*.rej
*.u
*.rc
*.pc
*~
*.o
*.gz
*.bz2
*.[0-9]
*.gif
*.css
*.out
*.tmp
*.obj
*.exp
*.res
*.ggo
ChangeLog

doc/tools/*-tool
doc/tools/eidenv
doc/tools/opensc-explorer
doc/tools/pkcs15-crypt
doc/tools/pkcs15-init
doc/tools/opensc-asn1
doc/tools/opensc-notify
doc/files/opensc.conf.5.xml

etc/opensc.conf.example
src/common/compat_getopt_main
src/minidriver/opensc-minidriver.inf
src/tools/*-tool
src/tools/pkcs15-crypt
src/tools/pkcs15-init
src/tools/eidenv
src/tools/opensc-explorer
src/tools/cardos-info
src/tools/sceac-example
src/tools/opensc-notify
src/tools/opensc-notify.plist
src/tools/org.opensc.notify.desktop
src/tools/pkcs11-register
src/tools/pkcs11-register.plist
src/tools/pkcs11-register.desktop
src/tools/opensc-asn1

win32/OpenSC.iss
win32/OpenSC.wxs
win32/winconfig.h
win32/OpenSC.msi
win32/OpenSC.wixobj
win32/OpenSC.wixpdb

MacOSX/build-package
MacOSX/Distribution.xml

*.dmg
*.pkg
OpenSC.tokend/
build/
engine_pkcs11/
libp11/
target/

src/scconf/test-conf

src/tests/base64
src/tests/lottery
src/tests/p15dump
src/tests/pintest
src/tests/prngtest
src/tests/p11test/p11test

tests/*.log
tests/*.trs

version.m4.ci
