# Configuration file for OpenSC
# Example configuration file

# Default values for any application
# These can be overrided by the application
# specific configuration block.

app default {
	debug = 0;
	#debug_file = "/tmp/opensc-debug.log";
	#error_file = "/tmp/opensc-errors.log";
}

# For applications that use SCAM (pam_opensc, sia_opensc)
app scam {
	use_cache = false;
}
