Source: opensc
Priority: optional
Maintainer: Joe Phillips <joe.phillips@innovationsw.com>
Build-Depends: debhelper (>> 3.0.0), libssl-dev, libpcsclite-dev, libpam-dev, libldap-dev, libsasl-dev, flex
Standards-Version: 3.5.2

Package: opensc
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Description: SmartCard utilities with support for PKCS#15 compatible cards
 This package includes utilities for manipulating
 PKCS#15 compatible smart cards and similar security tokens
 with the libopensc libraries.
 .
 These utilities allow the user to initialize, personalize and
 otherwise manipulate PKCS#15 cards with PINs and cryptographic 
 keys.  Users can sign and decrypt data with private keys 
 residing on-card.
 .
 Supported cards include Gemplus GPK, Schlumberger Cryptoflex,
 Finnish FINEID, Swedish eID, MioCOS and TCOS cards.

Package: libopensc-dev
Section: devel
Architecture: any
Depends: libopensc0 (= ${Source-Version}), libssl-dev
Description: OpenSC development files
 Files necessary for developing applications with the libopensc 
 libraries from OpenSC.org.

Package: libopensc0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: SmartCard libraries with support for PKCS#15 compatible smart cards
 This package contains the libopensc libraries from OpenSC.org.
 These libraries allow programs to access data, such as
 cryptographic keys, on various PKCS#15 compatible smart cards
 and similar security tokens.
 .
 Supported cards include Gemplus GPK, Schlumberger Cryptoflex,
 Finnish FINEID, Swedish eID, MioCOS and TCOS cards.

Package: libpam-opensc
Section: admin
Architecture: any
Depends: ${shlibs:Depends}
Recommends: opensc
Description: Pluggable Authentication Module for using PKCS#15 Smart Cards
 This package allows an administrator to configure a host to
 cryptographically authenticate users via PKCS#15 smart cards.
 User public keys can be stored in LDAP or in user home directories.
 User private keys are PIN-protected on issued smartcards.
 .
 This module supports any security token supported by the libopensc libraries.
 .
 Card initialization can be performed by utilities in the opensc package.

